<!DOCTYPE html>

<!-- Auto Generated with Sencha Architect -->
<!-- Modifications to this file will be overwritten. -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Bownce Mobile</title>
    <link rel="stylesheet" type="text/css" href="./sencha-touch.css"/>
    <link rel="stylesheet" type="text/css" href="./sencha_grid/resources/css/Ext.ux.grid.View.css"/>
    <link rel="stylesheet" type="text/css" href="./bownce.css"/>
    <script type="text/javascript" src="./sencha-touch-all.js"></script>
    <script type="text/javascript" src="app_overrides.js"></script>    
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript">
        if (!Ext.browser.is.WebKit) {
            alert("The current browser is unsupported.\n\nSupported browsers:\n" +
                "Google Chrome\n" +
                "Apple Safari\n" +
                "Mobile Safari (iOS)\n" +
                "Android Browser\n" +
                "BlackBerry Browser"
            );
        }
    </script>
    <script type="text/javascript" src="./sencha_grid/js/feature/Abstract.js"></script>
    <script type="text/javascript" src="./sencha_grid/js/feature/Feature.js"></script>
    <script type="text/javascript" src="./sencha_grid/js/View.js"></script>
</head>
<body></body>
</html>